#### Pandas 数据结构 - DataFrame
 DataFrame 是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔型值）。<br>
 DataFrame 既有行索引也有列索引，它可以被看做由 Series 组成的字典（共同用一个索引）。

![p1](./DataFrameStucture.png)
##### DataFrame创建
- 通过Series的合集创建
- 通过字典创建

In [3]:
import pandas as pd
# 推荐
data = [['Google',10],['Runoob',12],['Wiki',13]]
df = pd.DataFrame(data,columns=['Site','Age'],dtype=float)
print(df)
# 在df上改进，将列表变为了字典
data1 = {"site":["Google", "Runoob", "Wiki"], "Age":[10, 12, 13]}
df1 = pd.DataFrame(data1)
print(df1)
# 在df1上改进，将列表变为字典，加入了行索引。索引数量可以缺失
data2 = {"site":{1:"Google", 2:"Runoob", 3:"Wiki"}, "Age":{1:10, 2:12,}}
df2 = pd.DataFrame(data2)
print(df2)

     Site   Age
0  Google  10.0
1  Runoob  12.0
2    Wiki  13.0
     site  Age
0  Google   10
1  Runoob   12
2    Wiki   13
     site   Age
1  Google  10.0
2  Runoob  12.0
3    Wiki   NaN

##### DataFrame保存文件与读取文件
- 保存文件
    - `df.to_csv("site.csv")`
- 读取文件
    - `df.read_csv("site.csv")`
- 文件信息
    - `df.info()`显示表格信息（多少行，多少列，表头）
    - `df.to_string()`显示所有
    - `df`直接打印前几行和后几行，中间`'''`代替
    - `df.head()`显示前几行（默认5行）
    - `df.tail()`显示后几行（默认5行）

In [10]:
df.to_csv("site.csv")
df3 = pd.read_csv("nba.csv")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# df3.info()
# df3.to_string()
df3

In [12]:
df3.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [13]:
df3.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### DataFrame索引
- `loc`属性, <br>例如：`df.loc[0]`返回一行
- `df.loc[[0, 1, 2]]`返回多行

In [22]:
df.loc[0]

Site    Google
Age       10.0
Name: 0, dtype: object

In [23]:
df.loc[[0, 1, 2]]

     Site   Age
0  Google  10.0
1  Runoob  12.0
2    Wiki  13.0

In [25]:
df3.loc[[0,5, 9, 10]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0

##### 总结
DataFrame常用命令

命令|说明
----|----
pd.DataFrame(data)|创建
pd.DataFrame(data[, columns[, index[, dtype[, ]]]])|创建
.info()|显示信息
.head()|前5行数据
.loc[]|索引
.loc[[]]|索引多行
.to_csv()|保存
pd.read_csv()|读取